# SERVER CONFIG
PORT=5000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d

# COOKIE CONFIG
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# CLIENT CONFIG
CLIENT_URL=http://localhost:5173

# EMAIL CONFIG
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
